### SetPractice 2082/02/03 Saturday

In [1]:
myset = {"apple", "banana", "cherry"}
print(myset)

{'cherry', 'apple', 'banana'}

### Undordered, Unchangeable, duplicate not allowed

In [2]:
myset = {"apple", "banana", "cherry", "apple"}
print(myset)

{'cherry', 'apple', 'banana'}

### True and 1 is considered as the same value"

In [3]:
myset = {"apple", "banana", "cherry", "apple", True, 1, 2}
print(myset)

{'cherry', 2, True, 'apple', 'banana'}

### False and 0 is considered as the same value

In [4]:
myset = {"apple", "banana", "cherry", "apple", True, 1, False, 0}
print(myset)

{False, 'cherry', True, 'apple', 'banana'}

### Get the length of a set

In [5]:
myset = {"apple", "banana", "cherry", "apple", True, 1, False, 0}
print(len(myset))

5

### Data Types

In [6]:
myset = {"apple", "banana", "cherry", "apple", True, 1, False, 0}
print(type(myset))

<class 'set'>

A set can contain different data types:

Example
A set with strings, integers and boolean values:

In [7]:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 'male', 'abc', 40}

The set() Constructor
It is also possible to use the set() constructor to make a set.

Example
Using the set() constructor to make a set:

In [8]:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'apple', 'banana'}

Access Items
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

ExampleGet your own Python Server
Loop through the set, and print the values:

In [9]:
thisset = {'cherry', 'apple', 'banana'}
for x in thisset:
    print(x)

cherry
apple
banana

Check if "banana" is NOT present in the set:

In [10]:
thisset = {"apple", "banana", "cherry"}
print("banana" not in thisset)

False

In [12]:
thisset = {"apple", "banana", "cherry"}
print("kera" not in thisset)

True

In [13]:
# Once a set is created, you cannot change its items, but you can add new items.

Add Items
Once a set is created, you cannot change its items, but you can add new items.
To add one item to a set use the add() method.
ExampleGet your own Python Server
Add an item to a set, using the add() method:

In [17]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
thisset.add("apple")# no duplicate allowed
print(thisset)

{'cherry', 'apple', 'banana', 'orange'}

Add Sets
To add items from another set into the current set, use the update() method.
Example
Add elements from tropical into thisset:

In [18]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineaple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'cherry', 'apple', 'banana', 'pineaple', 'mango', 'papaya'}

Add Any Iterable
The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).
Example
Add elements of a list to at set:

In [19]:
thisset = {"apple", "banana", "cherry"}
tropical = ["pineaple", "mango", "papaya"]
thisset.update(tropical)
print(thisset)

{'cherry', 'papaya', 'apple', 'banana', 'pineaple', 'mango'}

Remove Item
To remove an item in a set, use the remove(), or the discard() method.
ExampleGet your own Python Server
Remove "banana" by using the remove() method:

In [20]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

Note: If the item to remove does not exist, discard() will NOT raise an error.
You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.
The return value of the pop() method is the removed item.
Example
Remove a random item by using the pop() method:

In [23]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

cherry
{'apple', 'banana'}

Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed.
Example
The clear() method empties the set:

In [24]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

Example
The del keyword will delete the set completely:

In [27]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)# get error message cuz thisset will be delated

NameError: name 'thisset' is not defined

Loop Items
You can loop through the set items by using a for loop:
ExampleGet your own Python Server
Loop through the set, and print the values:

# why??

In [1]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)

cherry
apple
banana

Join Sets
There are several ways to join two or more sets in Python.
The union() and update() methods joins all items from both sets.
The intersection() method keeps ONLY the duplicates.
The difference() method keeps the items from the first set that are not in the other set(s).
The symmetric_difference() method keeps all items EXCEPT the duplicates.
Union
The union() method returns a new set with all items from both sets.
ExampleGet your own Python Server
Join set1 and set2 into a new set:

In [30]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{'a', 1, 2, 3, 'c', 'b'}

You can use the | operator instead of the union() method, and you will get the same result.
Example
Use | to join two sets:

In [31]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1 | set2
print(set3)

{'a', 1, 2, 3, 'c', 'b'}

Join Multiple Sets
All the joining methods and operators can be used to join multiple sets.
When using a method, just add more sets in the parentheses, separated by commas:
Example
Join multiple sets with the union() method:

When using the | operator, separate the sets with more | operators:
Example
Use | to join two sets:

In [34]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}
myset = set1 | set2 | set3 |set4
print(myset)

{'a', 1, 2, 3, 'bananas', 'cherry', 'c', 'Elena', 'b', 'apple', 'John'}

Join a Set and a Tuple
The union() method allows you to join a set with other data types, like lists or tuples.
The result will be a set.
Example
Join a set with a tuple:

In [35]:
x = {"a", "b", "c"}
y = (1, 2, 3)
z = x.union(y)
print(z)

{'a', 2, 1, 3, 'c', 'b'}

Update
The update() method inserts all items from one set into another.
The update() changes the original set, and does not return a new set.
Example
The update() method inserts the items in set2 into set1:

In [36]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{'a', 1, 2, 3, 'c', 'b'}

Intersection
Keep ONLY the duplicates
The intersection() method will return a new set, that only contains the items that are present in both sets.
Example
Join set1 and set2, but keep only the duplicates:

In [37]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.intersection(set2)
print(set3)

{'apple'}

You can use the & operator instead of the intersection() method, and you will get the same result.
Example
Use & to join two sets:

In [38]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 & set2
print(set3)

{'apple'}

Note: The & operator only allows you to join sets with sets, and not with other data types like you can with the intersection() method.

The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

Example
Keep the items that exist in both set1, and set2:

In [39]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.intersection_update(set2)
print(set1)

{'apple'}

he values True and 1 are considered the same value. The same goes for False and 0.

Example
Join sets that contains the values True, False, 1, and 0, and see what is considered as duplicates:

In [40]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}
set3 = set1.intersection(set2)
print(set3)

{False, 1, 'apple'}

Difference
The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

Example
Keep all items from set1 that are not in set2:

In [43]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'cherry', 'banana'}

You can use the - operator instead of the difference() method, and you will get the same result.

Example
Use - to join two sets:

In [44]:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

Note: The - operator only allows you to join sets with sets, and not with other data types like you can with the difference() method.

The difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

Example
Use the difference_update() method to keep the items that are not present in both sets:

In [45]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.difference_update(set2)
print(set1)

{'cherry', 'banana'}

Symmetric Differences
The symmetric_difference() method will keep only the elements that are NOT present in both sets.

Example
Keep the items that are not present in both sets:

In [47]:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'cherry', 'google', 'microsoft', 'banana'}

You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.

Example
Use ^ to join two sets:

In [48]:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'cherry', 'google', 'microsoft', 'banana'}

Note: The ^ operator only allows you to join sets with sets, and not with other data types like you can with the symmetric_difference() method.

The symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

Example
Use the symmetric_difference_update() method to keep the items that are not present in both sets:

In [49]:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'cherry', 'google', 'microsoft', 'banana'}


set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

Set Methods
Python has a set of built-in methods that you can use on sets.

Method	Shortcut	Description
add()	 	Adds an element to the set
clear()	 	Removes all the elements from the set
copy()	 	Returns a copy of the set
difference()	-	Returns a set containing the difference between two or more sets
difference_update()	-=	Removes the items in this set that are also included in another, specified set
discard()	 	Remove the specified item
intersection()	&	Returns a set, that is the intersection of two other sets
intersection_update()	&=	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	 	Returns whether two sets have a intersection or not
issubset()	<=	Returns whether another set contains this set or not
 	<	Returns whether all items in this set is present in other, specified set(s)
issuperset()	>=	Returns whether this set contains another set or not
 	>	Returns whether all items in other, specified set(s) is present in this set
pop()	 	Removes an element from the set
remove()	 	Removes the specified element
symmetric_difference()	^	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	^=	Inserts the symmetric differences from this set and another
union()	|	Return a set containing the union of sets
update()	|=	Update the set with the union of this set and others