### This is Practice at Home 2082/01/30 Class not attended due to Gaut 2nd day

In [1]:
print('Bir Bahadur Rai')

Bir Bahadur Rai

In [2]:
# Five differet identical way to print

In [11]:
name = "Luigi" # Variale1

In [12]:
age = 38  # Variale2

In [32]:
 print(name + ' : ' + str(age))

Luigi : 38

In [33]:
print(name, ':', age)

Luigi : 38

In [34]:
print( f'{name} : {age}')

Luigi : 38

In [35]:
print('%s : %s' % (name, age))

Luigi : 38

In [36]:
print( '{} : {}'.format(name, age))

Luigi : 38

In [40]:
# print in the second line and same line

In [41]:
x = " Namaste" # 1st line

In [43]:
y = "Nepal" # 2nd line

In [45]:
print(x + "\n" + y)

 Namaste
Nepal

In [48]:
print(x, ',', y)

 Namaste , Nepal

In [37]:
# Print is built in function in Python but can be replace by variable

In [38]:
x = print

In [39]:
x('This is print replace function.')

This is print replace function.

# Reserved Keywords

In [55]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [57]:
print(len(keyword.kwlist)) # finds length of the list : There are 35 keywords

35

# Data types

In [62]:
### Numerical Data Types

In [59]:
#create a variable with integer value.
a=100
print("The type of variable having value", a, " is ", type(a))

The type of variable having value 100  is  <class 'int'>

In [60]:

    #create a variable with float value.
    b=10.2345
    print("The type of variable having value", b, " is ", type(b))

The type of variable having value 10.2345  is  <class 'float'>

In [61]:

    #create a variable with complex value.
    c=100+3j
    print("The type of variable having value", c, " is ", type(c))

The type of variable having value (100+3j)  is  <class 'complex'>

In [63]:
### String Data Types

In [68]:
a = "string in a double quote"
b= 'string in a single quote'
print(a)
print(b)

string in a double quote
string in a single quote

In [69]:
    
# using ',' to concatenate the two or several strings
print(a,"concatenated with",b)

string in a double quote concatenated with string in a single quote

In [70]:
#using '+' to concate the two or several strings
print(a+" concated with "+b)

string in a double quote concated with string in a single quote

In [71]:
### List Data Types

In [72]:
#list of having only integers
a= [1,2,3,4,5,6]
print(a)

[1, 2, 3, 4, 5, 6]

In [73]:
#list of having only strings
b=["hello","john","reese"]
print(b)

['hello', 'john', 'reese']

In [74]:
#list of having both integers and strings
c= ["hey","you",1,2,3,"go"]
print(c)

['hey', 'you', 1, 2, 3, 'go']

In [75]:
#index are 0 based. this will print a single character
print(c[1]) #this will print "you" in list c

you

In [76]:
### Tuple Data Types

In [78]:
# tuple having only integer type of data.
a=(1,2,3,4)
print(a) #prints the whole tuple

(1, 2, 3, 4)

In [79]:
# tuple having multiple type of data.
b=("hello", 1,2,3,"go")
print(b) #prints the whole tuple   
#index of tuples are also 0 based.

('hello', 1, 2, 3, 'go')

In [82]:
print(b[4]) # prints index 4

go

In [83]:
print(b[1 : 3])

(1, 2)

In [85]:
print(b[-1])

go

In [90]:
print(b[-3])

2

In [92]:
print(b[-2 : -3])

()

In [93]:
### Dictionary Data Type

In [94]:
#a sample dictionary variable
a = {1:"first name",2:"last name", "age":33}
#print value having key=1
print(a[1])
#print value having key=2
print(a[2])
#print value having key="age"
print(a["age"])

first name
last name
33

In [1]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [11]:
mylist1 = ["ram", "hari", "kiran", "shyam", 1, 2, 5.5, True, False]
mylist1.append("Antare")
print(mylist1)

['ram', 'hari', 'kiran', 'shyam', 1, 2, 5.5, True, False, 'Antare']

In [12]:
mylist1.clear()

In [13]:
mylist1 = ['ram', 'hari', 'kiran', 'shyam', 1, 2, 5.5, True, False, 'Antare']
mylist1.clear()
print(mylist1)

[]

In [17]:
mylist1 = ['ram', 'hari', 'kiran', 'shyam', 1, 2, 5.5, True, False, 'Antare']
x = mylist1.copy()
print(x)

['ram', 'hari', 'kiran', 'shyam', 1, 2, 5.5, True, False, 'Antare']

In [19]:
mylist1 = ['ram', 'hari', 'kiran', 'shyam', 1, 2, 5.5, True, False, 'Antare']
mylist1.extend("a")
print(mylist1)

['ram', 'hari', 'kiran', 'shyam', 1, 2, 5.5, True, False, 'Antare', 'a']

In [56]:
mylist1 = ['ram', 'hari', 'kiran', 'shyam', 'ram', 1, 'ram', 2, 'ram', 5.5, True, False, 'Antare']
mylist1.count("ram")
print(mylist1)

['ram', 'hari', 'kiran', 'shyam', 'ram', 1, 'ram', 2, 'ram', 5.5, True, False, 'Antare']

In [57]:
mylist1 = ['ram', 'hari', 'kiran', 'shyam', 'ram', 1, 'ram', 2, 'ram', 5.5, True, False, 'Antare']
x = mylist1.index(1)
print(x)

5

In [58]:
mylist1 = ['ram', 'hari', 'kiran', 'shyam', 'ram', 1, 'ram', 2, 'ram', 5.5, True, False, 'Antare']
mylist1.insert(1, "namaste")
print(mylist1)

['ram', 'namaste', 'hari', 'kiran', 'shyam', 'ram', 1, 'ram', 2, 'ram', 5.5, True, False, 'Antare']

In [59]:
mylist1 = ['ram', 'hari', 'kiran', 'shyam', 'ram', 1, 'ram', 2, 'ram', 5.5, True, False, 'Antare']
mylist1.pop(5)
print(mylist1)

['ram', 'hari', 'kiran', 'shyam', 'ram', 'ram', 2, 'ram', 5.5, True, False, 'Antare']

In [60]:
mylist1 = ['ram', 'hari', 'kiran', 'shyam', 'ram', 1, 'ram', 2, 'ram', 5.5, True, False, 'Antare']
mylist1.remove(5.5)
print(mylist1)

['ram', 'hari', 'kiran', 'shyam', 'ram', 1, 'ram', 2, 'ram', True, False, 'Antare']

In [61]:
mylist1 = ['ram', 'hari', 'kiran', 'shyam', 'ram', 1, 'ram', 2, 'ram', 5.5, True, False, 'Antare']
mylist1.reverse()
print(mylist1)

['Antare', False, True, 5.5, 'ram', 2, 'ram', 1, 'ram', 'shyam', 'kiran', 'hari', 'ram']

In [62]:
mylist1 = ['ram', 'hari', 'kiran', 'shyam', 'ram', 'ram', 'ram', 'Antare']
mylist1.sort()
print(mylist1)

['Antare', 'hari', 'kiran', 'ram', 'ram', 'ram', 'ram', 'shyam']

In [12]:
thisdict = {
 "brand" : "Ford" ,
 "model" : "Mustang" ,
 "year" : 1964
 }
x=thisdict.pop("year")
print (x)

1964